@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #444; }

body { background: #141316; }

@layer components {
    .bg-surface { background-color: #141316; }
    .bg-surface-container { background-color: #1D1B20; }
}

m3e-button {
    --md-sys-color-primary: #D0BCFF;
    --md-sys-color-on-primary: #381E72;
}